html {
    background-image: url('../assets/villagebackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    bottom: 50%;

}

#blankdiv {
    height: 98vh;
}

/* #sworddiv{
position: absolute;
bottom: 37%;
right: 50%;
}


#otherdiv{
    position: relative;
    bottom: 50%;
} */