#loginbutton{
    position: absolute;
    right: 60%;
    left: 50%;
    bottom: 33%;
    width: 200px;
    background-color: transparent;
    color: white;
    border: none;
    
}

.text-on-image{
    font-family: 'Zilla Slab', serif;

    text-align: center;
    align-self: center;
    position: absolute;
    font-size: 30px;
    right: 40%;
    left: 25%;
    bottom: 37%;
    text-shadow: 2px 2px black;
}